<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

 
     <!-- Bootstrap CSS -->
    <script src="/arq/js/jquery.min.js"></script>
    <script src="/arq/js/popper.min.js"></script>
    <script src="/arq/js/bootstrap.min.js"></script>
    <script src="/arq/js/fontawesome.js"></script>
    <script src="/arq/js/calendar.js"></script>
    <script src="/arq/js/rellax.js"></script>
    <script src="/arq/js/header.js"></script>
    <link rel="shortcut icon" type="image/x-icon" href="/arq/img/icone-livro.ico">
    <script>
      var rellax = new Rellax('.rellax');
    </script>
     <!-- Bootstrap CSS CDN -->
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/arq/css/bootstrap.min.css">
     <!-- Our Custom CSS -->
     <link rel="stylesheet" href="/arq/css/style4.css">
    <link rel="stylesheet" href="/arq/css/estilos.css">
    <link rel="stylesheet" href="/arq/css/header.css">
    <title>Student</title>
</head>
<body class="bg-white" >
  <div class="container-fluid">
    <div class="row">
      <div class="col-3 col-md-3">
        <div class="wrapper scale-up-hor-left">
          <!-- Sidebar Holder -->
          <nav id="sidebar" class="active">
              <div class="sidebar-header">
                  <img src="/arq/img/logograndea.png" class="img-fluid">
                  <strong class="text-center">Student</strong>
              </div>
              
              <ul class="list-unstyled components">
                  <li>
                    <button type="button" id="sidebarCollapse" class="btn btn-info navbar-btn">
                      <i class="glyphicon glyphicon-align-left"></i>
                      <span>Sidebar</span>
                    </button>
                  </li>
                  <li class="active">
                    <a href="/">
                      <i class="glyphicon glyphicon-home"></i>
                      INÍCIO
                    </a>
                  </li>
                  <li>
                      <a href="/sobre">
                          <i class="fas fa-info"></i>
                          Sobre
                      </a>
                  </li>
                  <li>
                      <a href="/professor">
                          <i class="fas fa-user-tie"></i>
                          Login Professor
                      </a>
                  </li>
                  <li>
                    <a href="/login">
                        <i class="glyphicon glyphicon-user"></i>
                        Login Aluno
                    </a>
                  </li>
                  <li>
                    <a href="/register">
                        <i class="fas fa-user-plus"></i>
                        Registrar
                    </a>
                  </li>
              </ul>
              <ul class="list-unstyled components icons">
                <li>
                  <a href="https://www.facebook.com/MauricioSouzadv">
                    <i class="fab fa-facebook"></i>
                  </a>
                </li>
                <li>
                  <a href="https://github.com/BlackBashi">
                    <i class="fab fa-github"></i>
                  </a>
                </li>
                <li>
                  <a href="https://www.facebook.com/MauricioSouzadv">
                    <i class="fab fa-instagram"></i>
                  </a>
                </li>
              </ul>
          </nav>

          <!-- Page Content Holder -->
          <div id="content">

          
          </div>
        </div>
      </div>
    <!-- jQuery CDN -->
    <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
    <!-- Bootstrap Js CDN -->
 
