<div class="container">
    <div class="p-3 mb-2 bg-light text-dark">
        <h1 class="text-center" style="font: normal 100px BigNoodleTitling;">Notícias</h1><br>
        {loop="$results"}
        <div class="container">
            <div class="p-3 mb-2 bg-light text-dark">
                <div class="container border border-dark shadow-lg" style="height: auto; background-color: bisque;">
                    <div class="row">
                        <div class="col-sm">
                            <p class="text-center"> </p> 
                            <h4 class="text-center" style="font: normal 40px BebasNeue-Regular;"><strong>{$value.destitulo}</strong></h4>
                            <span class="text-muted small"><i class="fas fa-user"></i>
                                {$value.desautor} - <i class="far fa-calendar-alt"></i> Publicado em: {$value.dtregister} </span>
                            <p class="text-justify" style="font: normal 20px Butler_Medium;">{$value.desdetails} </p><br>      
                        </div>   
                    </div> 
                    <div class="text-center"> 
                        <img  src="/arq/img/upload/{$value.desimage}" style="height: 400px;"><br>
                        <p></p>
                    </div>
                </div>
            </div>
        </div>  
        {/loop}
    </div>
</div>