<div class="container   fade-in-fwd p-3 text-light" style="background-color: rgba(0, 0, 0, 0.692);">
    <div class="row">
        <div class="col-md-12">
            {loop="$aluno"}
            <img src="/arq/img/upload/perfil/{$photo}" alt="perfil" style="height: 5cm;" class="rounded-circle border border-dark img-fluid">
            <h2 style="font: normal 60px BigNoodleTitling;">{$value.desnomelogin}</h2>
            <h4>CPF: {$value.descpf}</h4>
            <h4>Turma: {$value.descricao}</h4>
            <h4>Email: {$value.desaddress}</h4>
            <h4>Número de telefone: {$value.desnumber}</h4>
            {/loop}
        </div>
        <div class="col-md-12 text-center">
            <h4 class="text-center">Ver grafico</h4>
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Selecionar matéria
                </button>
                <div class=" dropdown-menu" aria-labelledby="dropdownMenuButton">
                    {loop="$materias"}
                  <a class="dropdown-item" href="/perfil?materia={$value.idmateria}">{$value.descricao}</a>
                    {/loop}
                </div>
            </div>
        </div>            
    </div>
    <br>
    <div style="background-color: #fffafa;" id="graficomedia" data='{$notas}'></div>
</div>