<div class="container p-3 mb-2 bg-light text-dark">
    <div class="row">
        <div class="col-sm-8">
            
            <p><img src="/arq/img/upload/perfil/{$photo}" alt="perfil" style="height: 5cm;" class="rounded-circle border border-dark"></p>
            <p> <h2 style="font: normal 60px BigNoodleTitling;">Prof: {$desnome}</h2></p>
            <p><h4>CPF: {$descpf}</h4></p>
            <p><h4></h4></p>
            <p><h4>Email: {$desaddress}</h4></p>
            <p><h4>Número de telefone: {$desnumero}</h4></p>
            
            <p><h4>Turmas:
            {loop="$turmas"}   
            {$value.descricao} -  
            {/loop}
            </h4>

            </p>
        </div>             
    </div>
</div>