<div class="container p-3 mb-2 text-dark" style="font: normal 23px Robo; " >
<div class="container p-3 mb-2 text-dark"  style="font: normal 23px Robo;">
    <h1 class="text-center">Cadastrar</h1> <br>
    <form role="form" method="POST" action="/register" enctype="multipart/form-data">
        <div class="form-group">
            {if="$error == 1"}
            <div class="alert alert-danger" role="alert">
                <i class="fas fa-times-circle"></i>
                Preencha todos os campos!
            </div>
            {/if}
            {if="$errorcpf == 1"}
            <div class="alert alert-danger" role="alert">
                <i class="fas fa-times-circle"></i>
                CPF incorreto!
            </div>
            {/if}
            {if="$success == 1"}
            <div class="alert alert-success" role="alert">
                <i class="fas fa-clipboard-check"></i>
                Registrado com sucesso!
            </div>
            {/if}
            <label form="desnome">Nome:</label>
            <input class="form-control" type="text" name="desnome"  placeholder="Digite seu nome"><br>
            <label form="descpf">CPF:</label>
            <input class="form-control" type="number" name="descpf"  placeholder="Digite o seu CPF"><br>
            <label form="deslogin">Login:</label>
            <input class="form-control" type="text"  name="deslogin" placeholder="Digite o seu login"><br>
            <label form="desaddress">Email:</label>
            <input class="form-control" type="text"  name="desaddress" placeholder="Digite o seu e-mail"><br>
            <label form="despassword">Senha:</label>
            <input class="form-control" type="password" name="despassword" placeholder="Digite a sua senha"><br>
            <label form="fileimage">Foto de perfil:</label><br>
            <div class="custom-file">
                <input type="file" class="custom-file-input" name="fileimage">
                <label class="custom-file-label" for="customFile">Escolha uma foto</label>
            </div> <br>
            <br><input class="btn btn-success" type="submit" value="cadastrar"><br>
            <div class="text-center"><img class="img-fluid" src="/arq/img/Logogrande.png" alt="Imagem" style="height: 8cm;"></div><br>
        </div>
    </form>
</div>
</div>
