<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    

 
     <!-- Bootstrap CSS -->
    <script src="/arq/js/jquery.min.js"></script>
    <script src="/arq/js/popper.min.js"></script>
    <script src="/arq/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/arq/css/bootstrap.min.css">
    <link rel="stylesheet" href="/arq/css/estilos.css">
    <link rel="stylesheet" href="/arq/css/sobre.css">
    <script src="https://kit.fontawesome.com/891babefe4.js" crossorigin="anonymous"></script>
    <title>Sobre</title>
</head>
<body class="backimagesobre paralax">
    <a href="/" class="fas fa-arrow-left" style="color: rgb(255, 255, 255); font-size: 30px;"> Voltar</a>
    <div class="container fade-in-fwd">
        <div class="jumbotron text-white" style="background-color: rgba(251, 184, 41, 0.5)">
            <h1 class="display-4" style="font: normal 70px BigNoodleTitling;">Seja bem-vindo!</h1>
            <p class="lead text-justify" style="background-color: rgba(78, 57, 13, 0.5)">    Buscamos a excelência no ensino, e através disso, a transformação e adequação dos alunos para enfrentar os desafios do mundo atual. É a aplicação do conhecimento como propulsor do desenvolvimento humano, desde a infância até o ensino médio. Um colégio, que há mais de 3 décadas, atua com uma proposta pedagógica concentrada em uma educação capaz de formar pessoas
                mais competentes, criativas, conscientes e comprometidas com a ética e o respeito ao planeta, 
                aos animais e aos seres humanos. Um colégio completo com tudo que seus filhos precisam..</p>
            <hr class="my-4">
            <p class="text-center"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3874.338887097781!2d-56.08398194896133!3d-13.818677981099064!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x93a029b8115eda55%3A0xab269760c5326081!2sPent%C3%A1gono%20Sistemas!5e0!3m2!1spt-BR!2sbr!4v1580152018053!5m2!1spt-BR!2sbr" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe></p>
            <h2 class="text-center" style="font-size: 70px;">
                <a href="https://www.facebook.com/MauricioSouzadv" class="text-dark" ><i class="fab fa-facebook" style="color: black;"></i></a>
                <a href="https://github.com/BlackBashi" class="text-dark" ><i class="fab fa-github" style="color: black;"></i></a>
                <a href="https://www.instagram.com/mauricio_souz/" class="text-dark" ><i class="fab fa-instagram" style="color: black;"></i></a>
            </h2>
        </div>
    </div>
</body>
</html>