<div class="container p-3 mb-2" style="height: 20cm; background-color: #CCCCCC">
    <h1 class="text-center" style="font: normal 100px BigNoodleTitling;">Cadastrar</h1><br>
    <div class="container text-center">
        <div class="btn-group" role="group" aria-label="Basic example">
            <a class="shadow-lg nav-link active bg-warning text-dark tmnav text-center " style="width: 6cm; font: normal 70px BigNoodleTitling;" href="/adm/cadastrar/alunos">Alunos
            <img src="/arq/img/aluno.png" alt="Imagem aluno" class="image1 bg-warning"></a>
            <a class="shadow-lg nav-link active bg-info text-white tmnav text-center" style="width: 10.6cm; font: normal 70px BigNoodleTitling;" href="/adm/cadastrar/professor">Professores
            <img src="/arq/img/professor.png" alt="Imagem professor" class="image1 bg-info"></a>
            <a class="shadow-lg nav-link active bg-danger text-body tmnav text-center" style="width: 6cm; font: normal 70px BigNoodleTitling;" href="/adm/addturma">Turmas
            <img src="/arq/img/class.png" alt="Imagem logout" class="image1 bg-danger"></a>
        </div>
    </div>
</div>