<div class="container p-3 mb-2 text-dark" id="tmcont" style="font: normal 23px Robo; background-color: #CCCCCC" >
    <h1 class="text-center">Editar noticia</h1> <br>
    <form role="form" method="POST">
        <div class="form-group">
            {loop="$results"}
            <label form="desautor">Autor:</label>
            <input class="form-control" type="text" name="desautor"  value="{$value.desautor}"><br>
            <label form="destitulo">Título:</label>
            <input class="form-control" type="text"  name="destitulo" value="{$value.destitulo}"><br>
            <label form="destitulo">Detalhes:</label>
            <textarea class="form-control"name="desdetails">{$value.desdetails}</textarea><br>
            <input class="btn btn-success" type="submit" value="Postar"><br>
            <div class="text-center"><img src="/arq/img/PTK-icon.png" alt="Imagem responsiva" class="img-rounded"></div><br>
            {/loop}
        </div>
    </form>
</div>