<div class="jumbotron p-3 mb-2 text-center"  style=" font: normal 23px Robo; background-color: rgba(0, 0, 0, 0.5)" >
    <h1 class="text-center text-white" style="font: normal 100px BigNoodleTitling;">Editar turma: {$nome}</h1> <br>
</div>    
<div class="container text-white">
    <div class="row">
        <div class="col-md-12 p-4 text-center">
            <form role="form" method="POST" action="/adm/editarTurma">
                <i class="fas fa-align-justify text-white"></i> <label class="text-center" style="font: normal 30px BigNoodleTitling;">Descrição:</label><br>
                {loop="$dados"}
                <INPUT type="hidden" name="idturma" value="{$value.id}">
                <input class="text-center form-control" type="text" name="descricao" value="{$value.descricao}"><br> 
                <i class="far fa-clock text-white"></i> <label style="font: normal 30px BigNoodleTitling;">Turno:</label><br>
                <select class="form-control text-center" name="turno">
                    <option value="{$value.turno}">{$value.turno}</option>
                    <option value="Matutino">Matutino</option>
                    <option value="Vespertino">Vespertino</option>
                    <option value="Noturno">Noturno</option>
                </select><br>
                <br><i class="fas fa-calendar-week text-white"></i> <label style="font: normal 30px BigNoodleTitling;">Ano Letivo:</label><br>
                <input class="text-center" type="number" placeholder="{$value.anoletivo}" name="anoletivo" min="2019" max="2100"><br>
                <br> <input class="btn btn-success" type="submit" value="Alterar"><br> 
                {/loop}
            </form>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-6  col-md-offset-1">
            <table class="table table-bordered table-dark" style="width: 13cm;">
                <thead>
                    <tr>
                        <th scope="col" class="text-center text-white" colspan="3" style="font: normal 30px BigNoodleTitling;">Lista de professores</th>
                    </tr>
                    <tr>
                        <td colspan="3">
                            <form class="form-inline" method="POST" action="/adm/editarTurma?id={$idturma}">
                                <input class="form-control mr-sm-2 text-center" type="search" placeholder="Pesquisar" name="search">
                                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Pesquisar</button>
                            </form>
                        </td>
                    </tr>
                </thead>
                <tbody>

                    {if="$search == ''"}
                    {loop="$professores"}
                    <form role="form" method="POST" action="/adm/addprof?id={$value.idprof}&idturma={$idturma}">
                    <tr>
                        <td class="d-inline-block text-truncate text-white" style="max-width: 5.5cm; font: bolder 20px Roboto;"><h:inputText value="{$value.idprof}" name="idprofessor"/>{$value.desnome} </td>
                        <td  style="width: 6cm;" class="text-center">
                            <select class="form-control" name="materia">
                                {loop="$materias"}
                                <option value="{$value.idmateria}">{$value.descricao}</option>
                                {/loop}
                            </select>
                        </td>
                        <td style="width: 4cm;" class="text-center"><input class="btn btn-success" type="submit" value="Adicionar"></td>
                    </tr>
                    </form>
                    {/loop}
                    {/if}

                    {if="$search != '' "}
                    {loop="$search"}
                    <form role="form" method="POST" action="/adm/addprof?id={$value.idprof}&idturma={$idturma}">
                        <tr>
                            <td class="d-inline-block text-truncate" style="max-width: 5.5cm; font: bolder 20px Roboto;"><h:inputText value="{$value.idprof}" name="idprofessor"/>{$value.desnome} </td>
                            <td  style="width: 6cm;" class="text-center">
                                <select class="form-control" name="materia">
                                    {loop="$materias"}
                                    <option value="{$value.idmateria}">{$value.descricao}</option>
                                    {/loop}
                                </select>
                            </td>
                            <td style="width: 4cm;" class="text-center"><input class="btn btn-success" type="submit" value="Adicionar"></td>
                        </tr>
                    </form>
                    {/loop}
                    {/if}
                    
                    {if="$search == '' "}
                    <tr>
                        <td colspan="3">
                            <nav style="background-color: rgba(204, 204, 204, 0.5); float: none;">
                                <ul class="pagination pagination-sm">
                                    {loop="$pages"}
                                    <li class="page-item"><a class="page-link" href="{$value.link}">{$value.page}</a></li>
                                    {/loop}
                                </ul>
                            </nav>
                        </td>
                    </tr>
                    {/if}
                </tbody> 
            </table>
        </div>
        <div class="col-md-6  col-md-offset-1">
            <table class="table table-bordered table-dark" style="width: 13cm;">
                <thead>
                    <tr>
                        <th scope="col" class="text-center text-white" colspan="3" style="font: normal 30px BigNoodleTitling;">Professores adicionados</th>
                    </tr>
                </thead>
                <tbody>
                    {loop="$professoresadd"}
                    <tr>
                        <td class="d-inline-block text-truncate text-white" style="max-width: 5cm; font: bolder 20px Roboto;">{$value.desnome}</td>
                        <td class="text-center text-white" style="width: 5cm; font: bolder 20px Roboto;">{$value.descricao}</td>
                        <td style="width: 4cm;"><a href="/adm/removerprof?id={$value.idprof}&idturma={$idturma}"><button type="button" class="btn btn-danger"  style="height: 38px; font: bolder 15px Roboto;"><i class="fas fa-arrow-left" style="height: 10px;"></i> Remover </button></a></td>
                    </tr>
                    {/loop}
                </tbody> 
            </table>
        </div>
    </div>
</div>
<div class="jumbotron text-white text-center" style="font: normal 23px Robo; background-color: rgba(0, 0, 0, 0.5)" >
    <div class="row text-center m-5">
        <div class="container">
            <h1 class="text-center">Lista de alunos:</h1><br>
        </div>
        <table class="table table-bordered table-dark text-white">
            <thead>
                <tr>
                    <th scope="col">Nome</th>
                    <th scope="col">CPF</th>
                </tr>
            </thead>
            <tbody>
                {loop="$alunos"}
                <tr>
                    <td>{$value.desnome}</td>
                    <td>{$value.descpf}</td>
                </tr> 
                {/loop}
            </tbody>
        </table>
    </div>
</div>