    <div class="container"  id="tmfooter"  style="background-color: rgba(0, 0, 0, 0.253); margin-top: auto;" >
      <div class="row">
        <div class="col-md-10">
          <h1 class="text-center">
            <a href="https://www.facebook.com/MauricioSouzadv" ><i  class="fab fa-facebook"></i></a>
            <a href="https://github.com/BlackBashi" ><i class="fab fa-github"></i></a>
            <a href="https://www.instagram.com/mauricio_souz/" ><i class="fab fa-instagram"></i></a>
          </h1>
          </div>
      </div>
    </div> 
  </body>
</html>

  