    <div class="container p-3 mb-2 text-dark"  id="tmfooter"  style="font: normal 18px Robo; background-color: #CCCCCC" >
      <ul class="inline-block">
        <li><a href="/" class="text-dark">Inicio</a></li>
        <li><a href="/register" class="text-dark" >Cadastrar</a></li>
      </ul>
      <h2 class="text-center">
        <a href="https://www.facebook.com/MauricioSouzadv" class="text-dark" ><i class="fab fa-facebook"></i></a>
        <a href="https://github.com/BlackBashi" class="text-dark" ><i class="fab fa-github"></i></a>
        <a href="https://www.instagram.com/mauricio_souz/" class="text-dark" ><i class="fab fa-instagram"></i></a>
      </h2>
    </div> 
  </body>
</html>
  