<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    

 
     <!-- Bootstrap CSS -->
    <script src="/arq/js/jquery.min.js"></script>
    <script src="/arq/js/popper.min.js"></script>
    <script src="/arq/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/arq/css/bootstrap.min.css">
    <link rel="stylesheet" href="/arq/css/estilos.css">
    <link rel="stylesheet" href="/arq/css/adm/login.css">
    <script src="https://kit.fontawesome.com/891babefe4.js" crossorigin="anonymous"></script>
    <title>Login - Adm</title>
</head>
<body class="backimageloginadm img-fluid">
        <div class="container col-10 col-md-6 border border-dark shadow-lg p-5 text-dark">
            <h1 class="text-center">Secretaria <br>Login</h1><br>
            {if="$error == 1"}
                <div class="alert alert-danger" role="alert">
                    <i class="fas fa-times-circle"></i>
                    Senha ou usuário incorreto!
                </div>
            {/if}
            {if="$logout == 1"}
                <div class="alert alert-success" role="alert">
                    <i class="fas fa-clipboard-check"></i>
                    Deslogado com sucesso!
                </div>
            {/if}
            <form role="form" method="POST" action="/adm/login">
                <div class="form-group" style="font: normal 23px Robo" >
                    <i class="fas fa-user"></i> <label class="campName" form="deslogin" style="font: normal 23px Robo">Login:</label>
                    <input class="form-control" type="text"  name="deslogin" placeholder="Digite o seu login"><br>
                    <i class="fas fa-key"></i> <label form="despassword">Senha:</label>
                    <input class="form-control" type="password"  name="despassword" placeholder="Digite a sua senha"><br>
                    <div class="text-right"> <input class="btn btn-success" type="submit" value="Login"> <br></div>
                    <div class="text-center"><img src="/arq/img/Logogrande.png" class="img-fluid"></div><br>
                </div>    
            </form>
        </div>
</body>
</html>