<div class="jumbotron" style="background-color: rgba(0, 0, 0, 0.5)">
    <h2 class="text-center text-white" style="font: normal 60px BigNoodleTitling;">Gerenciar Notícias</h2>
    <div class="container text-dark" >
        <div class="row">
            <a class="btn btn-warning btn-lg btn-block" href="/adm/novanoticia" role="button"><i class="fas fa-plus"></i> Nova Notícia</a><br>
            <div class="col-12 col-md-12">
                <table class="table-responsive table table-dark">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col" class="text-center" ><i class="far fa-user"></i> Autor</th>
                            <th scope="col" class="text-center">Título</th>
                            <th scope="col" class="text-center"><i class="far fa-calendar-alt"></i> Data de publicação</th>
                        </tr>
                    </thead>
                    <tbody>
                        {loop="$noticias"}
                        <tr>
                            <th scope="row">{$value.idnoticia}</th>
                            <td class="text-truncate text-center">{$value.desautor}</td>
                            <td class="d-inline-block text-truncate">{$value.destitulo}</td>
                            <td class="text-truncate text-center">{$value.dtregister}</td>
                            <td>
                                <a class="btn btn-info" href="/adm/editarnoticia?id={$value.idnoticia}" role="button"><i class="fas fa-pencil-alt"></i> Editar</a>
                                <a class="btn btn-danger" href="/adm/deletarnoticia?id={$value.idnoticia}" role="button"><i class="far fa-trash-alt"></i> Deletar</a>
                            </td> 
                        </tr> 
                        {/loop}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>