<div class="container">
    <div class="row">
        <h1 class="text-center text-white">Lista de professores:</h1><br>
        <div class="col-12 col-md-12 p-2 text-white"></div>
            <table class="table-responsive table-bordered table-dark">
                <thead>
                    <tr>
                        <td colspan="5">
                            <form class="form-inline" method="POST" action="/adm/professores">
                                <div class="container text-center">
                                <input class="form-control mr-sm-2 text-center" type="search" placeholder="Pesquisar" name="search">
                                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Pesquisar</button>
                                </div>
                            </form>
                        </td>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Nome</th>
                        <th scope="col">CPF</th>
                        <th scope="col">Código</th>
                    </tr>
                </thead>
                <tbody>
                    </tr>
                    {if="$search == ''"}
                    {loop="$professores"}
                    <tr>
                        <th scope="row">{$value.idprof}</th>
                        <td>{$value.desnome}</td>
                        <td>{$value.descpf}</td>
                        <td>{$value.descodigo}</td>
                        <td style="width: 4cm;">
                            <a class="btn btn-info" href="/adm/editarprofessor?id={$value.idprof}" role="button"><i class="fas fa-pencil-alt"></i> Editar</a>
                            <a class="btn btn-danger" href="/adm/deletarprofessor?id={$value.idprof}" role="button"><i class="far fa-trash-alt"></i> Deletar</a>
                        </td> 
                    </tr> 
                    {/loop}
                    {/if}
                    {if="$search != ''"}
                    {loop="$search"}
                    <tr>
                        <th scope="row">{$value.idprof}</th>
                        <td>{$value.desnome}</td>
                        <td>{$value.descpf}</td>
                        <td>{$value.descodigo}</td>
                        <td style="width: 4cm;">
                            <a class="btn btn-info" href="/adm/editarprofessor?id={$value.idprof}" role="button"><i class="fas fa-pencil-alt"></i> Editar</a>
                            <a class="btn btn-danger" href="/adm/deletarprofessor?id={$value.idprof}" role="button"><i class="far fa-trash-alt"></i> Deletar</a>
                        </td> 
                    </tr> 
                    {/loop}
                    {/if}
                    <tr>
                        <td colspan="3">
                            <nav style="background-color: #CCCCCC; float: none;">
                                <ul class="pagination pagination-sm">
                                    {loop="$pages"}
                                    <li class="page-item"><a class="page-link" href="{$value.link}">{$value.page}</a></li>
                                    {/loop}
                                </ul>
                            </nav>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>     
    </div>
</div>