<div class="container">
<div class="p-3 mb-2 text-dark" style="background-color: #CCCCCC">
    <h1 class="text-center">Lista de professores:</h1><br>
    <table class="table table-bordered table-dark">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nome</th>
                <th scope="col">CPF</th>
                <th scope="col">Código</th>
            </tr>
        </thead>
        <tbody>
            {loop="$professores"}
            <tr>
                <th scope="row">{$value.idprof}</th>
                <td>{$value.desnome}</td>
                <td>{$value.descpf}</td>
                <td>{$value.descodigo}</td>
                <td style="width: 4cm;">
                    <a class="btn btn-info" href="/adm/editarprofessor?id={$value.idprof}" role="button"><i class="fas fa-pencil-alt"></i> Editar</a>
                    <a class="btn btn-danger" href="/adm/deletarprofessor?id={$value.idprof}" role="button"><i class="far fa-trash-alt"></i> Deletar</a>
                </td> 
            </tr> 
           
            {/loop}
        </tbody>
      </table>     
    </div>
</div>