<div class="jumbroton p-3 mb-2" style="height: 20cm; background-color: rgb(0, 0, 0, 0.3)">
    <h1 class="text-center text-white">Informações</h1><br>
    <div class="container text-center">
        <div class="row">
            <div class="col container bg-warning">
                <a class="shadow-lg bg-warning text-white text-center row-stl" href="/adm/alunos">Alunos
                <img src="/arq/img/aluno.png" alt="Imagem aluno" class="image1 bg-warning "></a>
            </div>
            <div class="w-100"></div>
            <div class="col container bg-info">
                <a class="shadow-lg bg-info text-white text-center row-stl" href="/adm/professores">Professores
                <img src="/arq/img/professor.png" alt="Imagem professor" class="image1 bg-info "></a>
            </div>
            <div class="w-100"></div>
            <div class="col container bg-danger">
                <a class="shadow-lg bg-danger text-center row-stl text-white" href="/adm/turmas">Turmas
                <img src="/arq/img/class.png" alt="Imagem logout" class="image1 bg-danger "></a>
            </div>
        </div>
    </div>
</div>